body {
  background: #f4f2ec url(/img/fundo.png) repeat-x;
  font: 0.8em "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
  display: flex;
  justify-content: center;
}

#container {
  width: 1080px;
}

/*header*/
header {
  padding: 0.9em 0;
  height: 3.4em;
}
#logo h1 {
  float: left;
}
#logo a {
  background: url(../img/logo.png) no-repeat;
  width: 248px;
  height: 21px;
  display: block;
  text-indent: -2000px;
}
nav ul {
  list-style: none;
  margin: 20px;
  float: right;
}
nav ul li {
  float: left;
}
nav ul li a {
  color: #af670a;
  display: block;
  margin-left: 25px;
  padding-bottom: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover {
  color: #227115;
}

/*conteudo*/
#conteudo {
  width: 710px;
  margin-bottom: 20px;
  float: left;
}

/*formatação geral*/
h3 {
  color: #227115;
  font-size: 1em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
a {
  color: #86521a;
  text-decoration: none;
}

/*área de artigos*/
#video {
  float: left;
  width: 310px;
  margin-left: 25px;
}
#mapa {
  float: left;
  width: 310px;
  margin-left: 25px;
}
#exposicoes {
  float: left;
  width: 310px;
  margin: 15px 0 0 25px;
}
#historia {
  float: left;
  width: 310px;
  margin: 15px 0 0 37px;
}

/*lateral*/
aside {
  width: 350px;
  float: right;
  background: #eceadf;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

/*campo de visitas*/
#visita {
  background: #cdc8b1;
  padding: 10px 27px 27px 27px;
  margin-top: 10px;
}
fieldset {
  margin-left: -6px;
  border: none;
}
#legend {
  display: none;
}

h4 {
  color: #86521a;
  text-transform: uppercase;
  padding: 3px;
  margin-bottom: 0;
}
input {
  width: 80px;
  height: 20px;
  background: #fff;
  border: none;
  font-size: 1em;
}
input.campo {
  width: 30px;
  border: 1px solid #ada484;
}
input.botao {
  background: #9b9271;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}

/*galeira de fotos*/
#galeria {
  padding: 0 27px;
}
#galeria a {
  display: block;
  background: url(../img/fundo-foto.png) no-repeat;
  margin: 10px 0 0 20px;
  padding: 17px 15px;
  float: left;
}
#galeria img {
  width: 93px;
  height: 93px;
  margin: 2px 0 0 2px;
}

footer {
  padding: 20px 0 30px 0;
  text-align: center;
  background: url(../img/fundo-rodape.png) no-repeat center top;
  clear: both;
}
footer a {
  padding: 2px 10px;
}
